/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "Hakgyoansim Moheomga";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./HakgyoansimMoheomgaR.woff2") format("woff2");
}

@font-face {
  font-family: "Hakgyoansim Moheomga";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./HakgyoansimMoheomgaB.woff2") format("woff2");
}
