/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "BM Euljiro 10years later";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./BMEuljiro10yearslater.woff2") format("woff2");
}
