/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "Kakao Small Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("./KakaoSmallSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Kakao Small Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./KakaoSmallSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Kakao Small Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./KakaoSmallSans-Bold.woff2") format("woff2");
}
