/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "JHaebaragi";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("./JHaebaragi-Light.woff2") format("woff2");
}

@font-face {
  font-family: "JHaebaragi";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./JHaebaragi-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "JHaebaragi";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./JHaebaragi-Bold.woff2") format("woff2");
}
