/* Unmodified Fonts Archive files. Preserve the upstream README and license notices. */

@font-face {
  font-family: "NanumDaJinCe";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./NanumDaJinCe.woff2") format("woff2");
}
