/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "Gimpo Title";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./GimpoTitle.woff2") format("woff2");
}
