/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "Hakgyoansim Chaekgalpi R";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./Hakgyoansim_ChaekgalpiR.woff2") format("woff2");
}
