/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "Kakao Big Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./KakaoBigSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Kakao Big Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./KakaoBigSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Kakao Big Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("./KakaoBigSans-ExtraBold.woff2") format("woff2");
}
