/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "Hakgyoansim Poster B";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./Hakgyoansim_PosterB.woff2") format("woff2");
}
