/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "Daehwa Nanumeui Sori";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("./DaehwaNanumeuiSori-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Daehwa Nanumeui Sori";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./DaehwaNanumeuiSori-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Daehwa Nanumeui Sori";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./DaehwaNanumeuiSori-Bold.woff2") format("woff2");
}
