/* KoreaFonts. Preserve the original copyright and license notices. */

@font-face {
  font-family: "Cafe24 Decoline";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./Cafe24Decoline.woff2") format("woff2");
}
